.sidenav-container {
  height: 100%;

  mat-nav-list {
  }
}

.sidenav {
  width: 20rem;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.contents-container {
  padding: 4rem;
}
.mat-toolbar {
  background: rgb(182, 214, 3);
  box-shadow: 0.2rem 0.4rem 0.6rem rgba(0, 0, 0, 0.2);
}
// .menu-headline {
//   background: rgb(214, 200, 3);
//   h2 {
//   }
// }
